<div class="panel panel-primary">
  <div class="panel-heading"><%= task.title %></div>

  <div class="panel-body">
    <strong>Task Desription:</strong>
    <br>
    <p><%= task.description %></p>
  </div>
</div>